/* --- NAVIGATION --- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  padding: 10px 12px;
  background: transparent;  /* initial state */
  backdrop-filter: none;  
  transition: background 0.35s ease, 
              backdrop-filter 0.35s ease,
              color 0.35s ease;

  .logo {
    width: 100px; 
  }

  .nav-right a {
    margin-left: 24px;
    text-decoration: none;
    color: white;   
    font-weight: 500;
    font-size: 16px;
    margin-right: 24px;
    transition: color 0.35s ease;
  }
}

.navbar.nav-scrolled {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(12px);
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);

  .nav-right a {
    color: black; /* change text color */
  }
}
.floating-search {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translate(-50%, -10px);
  opacity: 0;
  z-index: 999;
  display: flex;
  align-items: center;

  padding: 10px 18px;
  border-radius: 40px;
  width: 320px;

  background: rgba(255,255,255,0.7);
  backdrop-filter: blur(10px);
  animation: fadeIn 0.4s ease forwards;

  box-shadow: 0 4px 20px rgba(0,0,0,0.25);
}

.floating-search.scrolled {
  background: rgba(255,255,255,0.9);
  transform: translateX(-50%) scale(0.95);
}

.floating-search input {
  flex: 1;
  border: none;
  background: transparent;
  font-size: 16px;
}

.floating-search input:focus {
  outline: none;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
