<!-- Navigation Bar -->
<header class="navbar" [class.nav-scrolled]="scrolled">
  <div class="nav-left">
    <a routerLink="/home" class="logo-link" aria-label="Hribi home">
      <img [src]="'assets/logo-light.png'" alt="Hribi.net logo" class="logo" />
    </a>
  </div>

  <button class="menu-toggle" (click)="toggleMenu()" [attr.aria-expanded]="isMenuOpen">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>

  <nav class="nav-right roboto-100" [class.active]="isMenuOpen">
    <a routerLink="/home">Domov</a>
    <a routerLink="/map">Zemljevid</a>
    <a routerLink="/weather">Vreme</a>
    <a routerLink="/cameras">Kamere</a>
    <a routerLink="/news">Novice</a>
    <!-- Theme toggle -->
    <!-- <button class="theme-toggle" (click)="toggleTheme()" [attr.aria-pressed]="darkMode" aria-label="Toggle light/dark theme">
      <span *ngIf="!darkMode">🌙</span>
      <span *ngIf="darkMode">☀️</span>
    </button> -->
  </nav>
</header>
<app-search-widget *ngIf="showSearch" mode="floating" class="show"></app-search-widget>


<router-outlet></router-outlet>