<div class="search-wrapper" [ngClass]="{
       'hero': mode === 'hero',
       'floating': mode === 'floating',
       'show': mode === 'floating'
     }">

  <input
    type="text"
    placeholder="Kam danes?"
    [(ngModel)]="query"
    (focus)="onFocus()"
    (blur)="onBlur()"
  />

  <button>🔍</button>

  <div class="dropdown" *ngIf="showDropdown">
    <div
      class="dropdown-item"
      *ngFor="let item of examples"
      (mousedown)="onSelectExample(item)"
    >
      {{ item }}
    </div>
  </div>

</div>
