<section class="hero" [class.hero-bright]="scrolled">
<div class="hero-overlay">
    <h1 class="kaushan-script-regular">Gremo v hribe</h1>
    <app-search-widget mode="hero"></app-search-widget>  
  </div>

  <div class="custom-shape-divider-bottom-1764333907">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
    </svg>
  </div>
</section>

<section class="homepage-map-section">
  <div class="homepage-map-card group-card">
    <h2 class="homepage-map-title kaushan-script-regular">
       Interaktivni zemljevid Slovenije
    </h2>

    <p class="homepage-map-subtitle">
      Izberi hrib na zemljevidu ali klikni na marker za podrobnosti.
    </p>

    <div class="homepage-map-container">
      <app-hill-map></app-hill-map>
    </div>
  </div>
</section>
