<!-- Navigation Bar -->
<header class="navbar">
  <div class="nav-left">
    <img
      src="/assets/logo.png"
      alt="Hribi.net logo"
      class="logo"
    />
  </div>

  <nav class="nav-right roboto-100">
    <a href="#">Novice</a>
    <a href="#">Zemljevid</a>
    <a href="#">Vreme</a>
    <a href="#">Kamere</a>
  </nav>
</header>

<!-- Hero Section -->
<section class="hero">
  <div class="hero-overlay">
    <h1 class="kaushan-script-regular">Gremo v hribe</h1>

    <div class="search-box">
      <input type="text" placeholder="Kam danes?" />
      <button>
        🔍
      </button>
    </div>
  </div>
</section>

<!-- Content Start -->
<section class="content">
  <h2 class="roboto-100">Interaktivni zemljevid</h2>
    <app-hill-map></app-hill-map>
</section>
